b-artist-card-box {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  border-radius: 1rem;
}

.b-artist-card {
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  text-align: center;
  border-radius: 1rem;
}

.b-artist-card__content {
  padding: 1.5rem;
}
.b-artist-card__full-name {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
}

.b-artist-card__artwork {
  max-width: 300px;
  border: 6px solid #e6e6ef;
}

.b-artist-card__photo {
  max-width: 100px;
  border-radius: 50%;
  border: 6px solid #e6e6ef;
}

.b-artist-card__resume {
  color: #aaaaaa;
}
