b-artist-card-box {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  border-radius: 1rem;
}

.b-artist-card {
  min-width: 315px;
  max-width: 360px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  /* max-width: 100%; */
  position: relative;
  text-align: center;
  border-radius: 1rem;
  min-height: 700px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.b-artist-card__content {
  padding: 1.5rem 0;
}

.b-artist-card__artwork-container {
  text-align: center;
}

.b-artist-card__artwork {
  width: 297px;
  border: 6px solid #e6e6ef;
}

.b-artist-card__avatar {
  display: flex;
  flex-direction: row;
  padding: 0 1.5rem;
  justify-content: space-between;
}
.b-artist-card__name-birth {
  max-width: 80%;
}
.b-artist-card__full-name {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
  text-align: left;
  margin: 0px;
}

.b-artist-card__photo-container {
  border: 1px solid transparent;
}
.b-artist-card__photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid #e6e6ef;
  text-align: right;
  display: inline-block;
}

.b-artist-card__medium {
  text-align: left;
  font-size: 1rem;
  color: #7b7a7a;
  font-style: italic;
}

.b-artist-card__bio {
  padding: 0 1.5rem;
}
.b-artist-card__birth-info {
  text-align: left;
  margin: 0px;
  font-size: 1rem;
}

.b-artist-card__resume {
  color: black;
  text-align: left;
}
